<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"/>
</head>
<body ng-app="BlankApp" ng-cloak="">

<div ng-cloak="" flex class="query-container">
    <md-content layout-padding="">
        <form method="post" th:object="${query}" th:action="@{/api/rest/lti/db/result/__${taskId}__}">
            <input type="hidden" name="custom_labId" th:value="${numberOfLab}">
            <md-input-container class="md-block">
                <div class="textarea-same-row" th:text="${task}"></div>
                <textarea class="textarea-same-row" th:field="*{textQuery}" md-select-on-focus>
                        <pre><code class="sql"></code></pre>
                    </textarea>
                <md-button class="md-raised md-primary button-same-row" type="submit">Отправить</md-button>
            </md-input-container>
        </form>
    </md-content>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
<script src="/assets/js/edx.js"></script>

</body>
</html>
