body {
    display: flex;
    flex-direction: column;
}
.input-full-width {
    width: 100%;
}


#shell h1 {
    font-size: 1em;
}

#shell .cell, #shell .header{
    color: white;
}

#submit.button-same-row{
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

#text-task.textarea-same-row, #text-answer.textarea-same-row{
    margin-right: 120px;
    width: calc(100% - 120px);
}