body {
    display: flex;
    flex-direction: column;
}
.input-full-width {
    width: 100%;
}


#shell h1 {
    font-size: 1em;
}

#shell .cell, #shell .header{
    color: white;
}

.button-same-row{
    width: 100px !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.textarea-same-row{
    margin-right: 120px !important;
    width: calc(100% - 120px) !important;
}